header {
  height: 4.5rem;
  padding: 1rem;
  width: 100%;
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
}

header.scrolled {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
}

header .logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

header .logo-box img {
  width: 40px;
  margin-right: 0.7rem;
}

header .logo-box a {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 100;
  text-decoration: none;
}

header .logo-box a:hover {
  font-style: italic;
}

header .logo-box a span {
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
}

.menu-btn {
  position: relative;
  cursor: pointer;
  float: right;
  right: 1rem;
  margin-top: 0.7rem;
  z-index: 3;
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  background: #fff;
  margin-bottom: 5px;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  opacity: 0.9;
}

.menu.show {
  visibility: visible;
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #373737;
  list-style: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.nav-item {
  -webkit-transform: translate3d(600px, 0, 0);
          transform: translate3d(600px, 0, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.nav-item.current > a {
  color: #eece1a;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.nav-item .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.nav-item .nav-link:hover {
  color: #eece1a;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  letter-spacing: .7px;
  line-height: 1.2;
  height: 2000px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  color: #ffffff;
  text-decoration: none;
  background: #EF959C;
  padding: 0.7rem 1.2rem;
  border-radius: 1.5rem;
}

.hero-wrap {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("../img/hero.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/hero.jpg");
  background-size: cover;
  min-height: 400px;
}

#hero {
  padding: 3rem 1rem 5rem;
}

#hero h1, #hero h2 {
  color: white;
}

#hero h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

#hero h2 {
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.75);
}
/*# sourceMappingURL=main.css.map */