@import "partials/_config"
@import "partials/_navbar"


*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: 'Montserrat', sans-serif
    background: #444

.container
    max-width: 900px
    margin: 0 auto
